<div class="classification-box">
<h1>Classify</h1>

{{#paper-button background=true}}
      {{#file-upload name="photos"
                     accept="image/*"
                     multiple=true
                     onfileadd=(route-action "uploadImage")}}
        <a id="upload-image" tabindex=0 class="add-image-button">Classify an Image.</a>
      {{/file-upload}}
{{/paper-button}}

<br>
<br>

<img src={{uploadedImage}} width="320" height="320" class="painting"/>

<br>
<br>

{{#if classifying}}
<img src="/spinner.svg" width="725" height="355" />
{{else}}
<div class="result-box">
<h1>LABEL: {{label}}</h1>
<h8>(classifier treshhold={{treshhold}})</h8>
<table>
<tr><td>label</td><td>score</td></tr>
{{#each results as |result|}}
<tr><td>{{result.label}}</td><td>{{result.score}}</td></tr>
{{/each}}
</table>
</div>
{{/if}}

</div>

